/* --------What do we do? ---------*/
.what-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--h-what-color);
    margin: 0;
    margin-bottom: 50px;
}


.what-list-other {
    display: flex;
}

.what-card {
    width: calc(100%/3) ;
    position: relative;

    margin-left: var(--space-card);

    &:first-child {
        margin-left: 0;
        align-items: center;
    }
}

.img-what {
    width: 100%;
    display: block;
}

.what-descriptions {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 100%;
    padding-bottom: 27px;
    padding-top: 27px;


    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;

    background-color: rgba(47, 48, 58, 0.8);
}