.what-heading {
    @include font-bold(36px, 1.16, 0.03em);   
    text-align: center;
    color: var(--h-what-color);

    margin: 0;
    margin-bottom: 50px;
}

.what-list-other {
    display: flex;
}

.what-card {
    width: calc(100%/3) ;
    position: relative;

    margin-left: var(--space-card);

    &:first-child {
    margin-left: 0;
    align-items: center;
    }
}

.img-what {
    width: 100%;
    display: block;
}

.what-descriptions {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 100%;
    padding-bottom: 27px;
    padding-top: 27px;

@include font-bold(14px, 1.14, 0.03em);
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    background-color: rgba(47, 48, 58, 0.8);
}