:root {

    --logo-color: #2196F3;
    --logo-studio: #000000;
    --logo-studio-inverse: #FFFFFF;

    --nav-color: #212121;
    --contacts-color: #757575;

    --button-text-color: #FFFFFF;
    --button-active-color: #188CE8;
    --button-color: #2196F3;

    --project-bg-btn: #F5F4FA;
    --project-border-btn: #F5F4FA;
    --project-btn-text: #212121;
    
    --project-btn-active-text: #FFFFFF;

    --link-active: #2196F3;
    --adress-contact-color: rgba(255, 255, 255, 0.6);
    --adress-place-color: #FFFFFF;
    --bg-footer-color: #2F303A;
    --bg-body-color: #FFFFFF;
    --bg-hero-color: #2F303A;
    --bg-team-color: #F5F4FA;
    --bg-feature-color: #F5F4FA;
    --bg-taam-card-color: #fff;
    --h-hero-color: #FFFFFF;
    --h-what-color: #212121;
    --h-team-color: #212121;
    --team-name-color: #212121;
    --team-dsk-color: #757575;
    --feature-list-h: #212121;
    --feature-dsk: #757575;
    --nav-line: #ECECEC;

    --icon-color: #AFB1B8;
    /* colors of portfolio */
    
    
    
    
    --project-card-border: #EEEEEE;
    --project-card-h: #212121;
    --project-card-dsk: #757575;



    --space-card: 30px;
}

$spaceCard: 30px;